# --- POSTGRES STATE CONFIGURATION ---
DB_HOST=nexusflow-db
DB_NAME=nexusflow_db
DB_USER=postgres
DB_PASSWORD=database_password

# --- CHROMADB VECTOR CONFIGURATION ---
CHROMA_HOST=nexusflow-vectors
CHROMA_PORT=8000

# --- GEMINI AI PROVIDER CONFIGURATION ---
GEMINI_KEY_POOL_1=gemini_api_key_1
GEMINI_KEY_POOL_2=gemini_api_key_2
